beautifulsoup4==4.13.3
Flask==3.1.0
joblib==1.4.2
lightgbm==4.6.0
matplotlib==3.10.1
numpy==2.2.3
pandas==2.2.3
pytz==2024.2
scikit_learn==1.6.1
seaborn==0.13.2
selenium==4.29.0
telethon==1.39.0
xgboost==2.1.4
